<div class="container top-button">
    <a mat-button class="create-button" (click)="toggleUsers()">View all Users</a>
    <a mat-button class="create-button" (click)="toggleReviews()">View all Reviews</a>
</div>

<div class='container' *ngIf="reviewsToggle">
    <div *ngFor="let review of reviewsList">
        <p>Author: {{review.author}}</p>
        <p>Date Added: {{review.date}}</p>
        <p>Course: {{review.subject}} {{review.catalog_nbr}}</p>
        <p>Review: {{review.review}}</p>
        <p>Rating: {{review.rating}}</p>
        <p>Status:
            <span *ngIf="review.hidden">Hidden
                <a mat-button class="create-button" (click)="toggleReviewStatus(review)">Show</a>
            </span>
            <span *ngIf="!review.hidden">Visible
                <a mat-button class="create-button" (click)="toggleReviewStatus(review)">Hide</a>
            </span> 
        </p>
        <hr class="my-2">
    </div>
</div>

<div class='container' *ngIf="usersToggle">
    <div *ngFor="let user of usersList">
        <p>Username: {{user.name}}</p>
        <p>Email: {{user.email}}</p>
        <p>Role: {{user.role}} 
            <span *ngIf="user.role != 'ADMIN'">
                <a mat-button class="create-button" (click)="assignAdmin(user)">Assign Admin</a>
            </span> 
        </p>
        <p>Account Status: 
            <span *ngIf="user.active">Active
                <a mat-button class="create-button" (click)="toggleUserStatus(user)">Deactivate</a>
            </span>
            <span *ngIf="!user.active">Deactivated
                <a mat-button class="create-button" (click)="toggleUserStatus(user)">Activate</a>
            </span> 
        </p>
        <hr class="my-2">
    </div>
</div>