<div class="container top-button">
    <a mat-button class="create-button" (click)="toggleUsers()">View all Users</a>
    <a mat-button class="create-button" (click)="toggleReviews()">View all Reviews</a>
</div>

<div class='container' *ngIf="reviewsToggle">
    <div *ngFor="let review of reviewsList">
        <p>Author: </p>
        <p>Date Added:</p>
        <p>Review: </p>
        <p>Rating: </p>
        <a mat-button class="create-button">View all Users</a>
        <hr class="my-2">
    </div>
</div>

<div class='container' *ngIf="usersToggle">
    <div *ngFor="let user of usersList">
        <p>Username: {{user.name}}</p>
        <p>Email: {{user.email}}</p>
        <p>Role: {{user.role}} 
            <a mat-button class="create-button" (click)="assignAdmin(user)">Assign Admin</a>
        </p>
        <p>Account Status: 
            <span *ngIf="user.active">Active
                <a mat-button class="create-button" (click)="toggleUserStatus(user)">Deactivate</a>
            </span>
            <span *ngIf="!user.active">Deactivated
                <a mat-button class="create-button" (click)="toggleUserStatus(user)">Activate</a>
            </span> 
        </p>
        <hr class="my-2">
    </div>
</div>