<div class="jumbotron">
    <h1 class="display-4">Timetable Drafter</h1>
    <hr class="my-2">
    <p class="lead">Welcome to Harshveer Hehar's timetable drafter. Here you can view the various courses offered at Western University and view public timetables made by others.</p>
    <p class="lead">Feel free to register to be able to create your own timetables and share them with others.</p>
    <hr class="my-2">
    <button *ngIf="authService.loggedIn()" routerLink="/login" type="button" class="btn btn-dark">Login</button>
    <button *ngIf="authService.loggedIn()" routerLink="/register" type="button" class="btn btn-primary">Register</button>
  </div>