<div class="container top-button">
    <a mat-button class="create-button" (click)="openCreateDialog()">Create New Timetable</a>
    <a mat-button class="create-button" (click)="ngOnInit()">Refresh</a>
</div>

<div class='container'>
    <ul class="list-group row">
        <li class="list-group-item col-xs-6" *ngFor="let timetable of timetables">
            <div class="col-xs-6">
                <span class="inner">{{timetable.timetable_name}}</span>
                <br>
                <span class="inner">Last Updated: {{timetable.last_updated}}</span>
                <br>
                <span class="inner">Number of Courses: {{timetable.courses.length}}</span>
                <br>
                <a *ngIf="selectedTimetable != timetable" (click)="onSelect(timetable)" class="inner" mat-button>Expand</a>
                <a *ngIf="selectedTimetable == timetable" (click)="removeSelect()" class="inner" mat-button>Minimize</a>
                <a class="inner" (click)="openEditDialog(timetable)"  mat-button>Edit</a>
                <a class="inner" (click)="openDeleteDialog(timetable)" mat-button>Delete</a>
            </div>
            <div *ngIf="selectedTimetable == timetable" class="col-xs-6">
                <span class="inner">Description:</span>
                <br>
                <span class="inner">{{timetable.description}}</span>
                <br>
                <span class="inner">Courses:</span>
                <br>
                <span class="inner" *ngFor="let course of timetable.courses">
                    {{course.subject}} {{course.catalog_nbr}} 
                    <a (click)="openDialog(course)" class="inner" mat-button>Expand</a>
                    <br>
                </span>
            </div>
        </li>
   </ul>
</div>