<div style="height: 100vh;">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <span class="title">Timetable Drafter</span>
      <span class="example-spacer"></span>
      <span class="title" *ngIf="!authService.loggedIn() && authService.checkAdmin()">Administrator </span>
      <div fxShow="true" fxHide.lt-md="true">
        <a *ngIf="!authService.loggedIn() && authService.checkAdmin()" routerLink="/admin" mat-button>
          Admin Panel
        </a>
        <a routerLink="/" mat-button>
          Home
        </a>
        <a routerLink="/courses"  mat-button>
          Courses
        </a>
        <a routerLink="/lists"  mat-button>
          Public Lists
        </a>
        <a *ngIf="!authService.loggedIn()" routerLink="/personalLists"  mat-button>
          My Lists
        </a>
        <a *ngIf="authService.loggedIn()" routerLink="/login"  mat-button>
          Login
        </a>
        <a *ngIf="authService.loggedIn()" routerLink="/register"  mat-button>
          Register
        </a>
        <a *ngIf="!authService.loggedIn()" (click)="logout()" mat-button>
          Logout
        </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a *ngIf="!authService.loggedIn() && authService.checkAdmin()" routerLink="/admin" (click)="sidenav.toggle()" mat-list-item>
          Admin Panel
        </a>
        <a routerLink="/" (click)="sidenav.toggle()" mat-list-item>
          Home
        </a>
        <a routerLink="/courses" (click)="sidenav.toggle()" mat-list-item>
          Courses
        </a>
        <a routerLink="/lists" (click)="sidenav.toggle()" mat-list-item>
          Public Lists
        </a>
        <a *ngIf="!authService.loggedIn()" routerLink="/personalLists" (click)="sidenav.toggle()" mat-list-item>
          My Lists
        </a>
        <a *ngIf="authService.loggedIn()" routerLink="/login" (click)="sidenav.toggle()" mat-list-item>
          Login
        </a>
        <a *ngIf="authService.loggedIn()" routerLink="/register" (click)="sidenav.toggle()" mat-list-item>
          Register
        </a>
        <a *ngIf="!authService.loggedIn()" (click)="logout()" (click)="sidenav.toggle()" mat-list-item>
          Logout
        </a>
        <a (click)="sidenav.toggle()" mat-list-item>
          <mat-icon>close</mat-icon> Close
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill> <div class="content"> <router-outlet></router-outlet> </div></mat-sidenav-content>
  </mat-sidenav-container>
</div>
