<div class="container">
    <h3>Courses</h3>
    <hr class="my-2">
    <form>
        <div class="row">
            <div class="col">
                <label>Search by Subject and Course Code</label>
            </div>
            <div class="col">
                <input type="text" class="form-control"  placeholder="Enter name">
            </div>
            <div class="col">
                <input type="text" class="form-control"  placeholder="Enter name">
            </div>
            <div class="col">
                <button type="submit" class="btn btn-dark">Search</button>
            </div>
        </div>
    </form>
    <hr class="my-2">
    <form>
        <div class="row">
            <div class="col">
                <label>Search by Keyword</label>
            </div>
            <div class="col">
                <input type="text" class="form-control"  placeholder="Enter name">
            </div>
            <div class="col">
                <button type="submit" class="btn btn-dark">Search</button>
            </div>
        </div>
    </form>
    <hr class="my-2">
  </div>
